.navigation {
    color: black;
    padding: 5px;
    border-bottom: solid black 2px;
}

.navigation__list {
    list-style: none;
    text-align: center;
}

.navigation__item {
    font-size: 20px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 3%;
    margin: 2px;
    font-weight: bold;
}

.navigation__link {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}

.navigation__link:hover {
    background-color: rgb(238, 158, 11);
    border-bottom: 1px solid;
    outline: none;
    color: white;
}

.navigation__link:active {
    background-color: rgb(238, 158, 11);
    color: white;
}