html {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    padding: 0 20px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    background-color: rgb(231, 231, 231);
}
    
.container__background {
  
    background-color:rgb(68, 68, 68);
    }