.table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

.table__caption {
    text-align: right;
    caption-side: bottom;
    margin-top: 20px;
    font-weight: 900;
}
.table__cell
{
    border: 1px solid;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
  
}

.table__header
{
    background-color:rgb(238, 158, 11);
    color: white;
    font-weight: normal;
}

.table__row:nth-child(even)
{
    background: rgb(247, 220, 171);
}

.table__row:hover
{
    background: rgb(248, 234, 206);

}